<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Movie App</title>
</head>

<body>
    <nav>
        <h1>Movie-Recommendation App</h1>
        <form action="" id="form">
            <input type="text" placeholder="Search" id="search" class="search">
        </form>
    </nav>
    <div id="tags">
    </div>
    <main id="main"></main>

    <footer>
        <p>Abhishek Verma</p>
        <a href="mailto:abisekverma22@gmail.com">abisekverma22@gmail.com</a>

    </footer>

    <script src="script.js"></script>
</body>

</html>