<%- include('partials/header'); -%>

<div class="container outer">
    <form id="form" class="col-lg-6 col-8 mx-auto" action="/newtodo" method="POST">
        <div class="input-group">
            <input id="input" class="form-control inpt" placeholder="Enter todo list item" value="" name="task">
                <button  type="submit" >
                    <i class="fa fa-plus-circle" style="border: 1px solid transparent;"></i>
                </button>

        </div>			     
    </form>

    <div class="container inner">
        <ul id="list" class="list col-lg-6 col-8 mx-auto">
            <!-- <li><input type="checkbox" class="checkbox">this is a todo item </li>
            <li><input type="checkbox" class="checkbox">this is a todo item </li> -->
            <% for(var i=0; i<todoList.length; i++){ %>
                <li>
                    <input type="checkbox" class="checkbox">
                   <%= todoList[i].name %>
                   
                    <a href="/delete/<%= todoList[i]._id %> "> 
                        <span><i class="fa fa-trash"></i></span>
                    </a>
                   
                </li>
            <% } %>

        </ul>
    </div>

    <div class="container bottom">
        <form id="form" class="" action="/delAlltodo" method="POST">
            <button id="btnClr" type="submit" class=" mx-auto btnHide">Clear All</button>
        </form>
    </div>
    
</div>


<script src="/todo.js"></script>
<%- include('partials/footer'); -%>